* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y border no afecten el tamaño total de los elementos */
}

body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden; /* Evita que el contenido se desborde horizontalmente */
}

.container {
    display: grid;
    grid-template-columns: 1fr; /* Solo una columna */
    grid-template-rows: auto auto 1fr auto; /* Fila para el menú, una para el contenido principal, y una para el pie */
    gap: 6px; /* Espaciado entre las cajas */
    height: 100vh; /* Ocupa toda la altura del viewport */
    width: 100vw; /* Ocupa toda la anchura del viewport */
}

.contenido2 {
    background-color: white;
    color: black; /* Cambié el color de texto a negro para hacerlo visible en fondo blanco */
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Asegura que ocupe todo el espacio dentro de su celda */
    height: 100%; /* Asegura que ocupe toda la altura asignada dentro del grid */
}

.menu .logo {
    margin-right: auto; /* Hace que el logo se quede en el extremo izquierdo */
    font-size: 1em; /* Ajusta el tamaño del logo */
    color: white; /* Color del texto */
}

.HeadCarrusel{
    text-align: center;
}